<h1>Forgot Password</h1>

<p>Don't worry, it happens to all of us.  Just enter your email address below and we 
   will send you an email with your account login and a new password.</p>

<p style="color:red"><%= flash[:notice] %></p>

<div id="stylized" class="myform" style="margin-top:30px">

<% form_for(:forgot_password) do %>


  <label for="login">Email Address</label>
  <%= text_field_tag 'email', @email %>
  
  <div style="clear:both"></div>
  <label>&nbsp;</label><%= submit_tag 'Change Password' %>
  
</div>

<% end %>
